* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100vh;
}


/***********************************/
/***********************************/

:root {
    --teste: 1px solid red;
    --color1: #da291c;
    --color2: white;
    --color3: #e64237;
    --color4: #ccc;
}

header {
    padding: 0 1.5vw;
    background-color: var(--color1);
    color: var(--color2);
    height: 10vh;
    display: flex;
    align-items: center;
}

main {
    margin: 0 3vw;
    height: 83vh;
}

p {
    margin: 2vh 1vw;
}

ul {
    border: 1px solid var(--color4);
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1vh 1vw;
    justify-content: center;
    gap: 1vh 0.5vw;
    border-radius: 10px;
    margin: 2vh 0;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 17vh;
    border-radius: 10px;
    background-color: var(--color1);
}

ul li:hover {
    background-color: var(--color3);
}

ul li .bi,
ul li h3 {
    display: none;
}


ul li .icone {
    display: block;
    font-size: 30pt;
    color: var(--color2);
    margin-bottom: 1vh;
    
}

ul li .fonte {
    display: block;
    font-size: 18pt;
    color: var(--color2);
    margin-top: 1vh;
}

.produto {
    border: 1px solid var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 10vw;
    border-radius: 10px;
    padding: 2vh 2vw ;
    height: 81vh;
}

.img-premio {
    width: 60px;
    height: 60px;
    font-size: 20pt;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    background-color: var(--color1);
}

h2 {
    color: var(--color1);
}

strong {
    color: var(--color1);
}

footer {
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 8pt;
}
